body {
  font-size: 16px;
  color: #fff;
  background-color: #FFFDFC;
  font-family: 'Oxygen', sans-serif;
  width: 100%;
}

/** HEADER **/
#header-nav {
  background-color: #8AD2E6;
  border-radius: 0;
  border: 0;
  /*height:60px; */
}
/*.navbar-brand {
  padding-top: 25px;
}*/

.navbar-brand h1 { /* Company Name */
  font-family: 'Lora', serif;
  color: #31454A;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/*.navbar-brand p span {
  vertical-align: middle;
}*/

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #31454A;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

#menu-title{
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-bottom: 30px;
}
#menu-title + div {
  margin-bottom: 50px;
 
}

#menu{
	margin: 10px;
}
#menu-content{
	padding:  30px;
}
#chicken, #beef, #sushi{
	background-color: #D7D7D7;
	border: 1px solid black;
	color: black;
	margin-bottom: 30px;
}

#chicken > h3, #beef > h3, #sushi > h3 {
	font-weight: bold;
}
#chicken > p, #beef > p, #sushi > p {
	text-align: justify;
	padding: 10px
}


@media (min-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Brand Name*/
    padding-top: 10px;
    font-size: 5vw; /* */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */
}